@import '../../App.scss';

.payment {
  h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    border: 1px solid $light;
    background-color: rgb(230, 218, 218);
    a {
      text-decoration: none;
      color: $primary;
    }
  }
  .payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid $light;
    .payment__title {
      flex: 0.2;
    }
    .payment__address, .payment__details {
      flex: 0.8;
      form {
        max-width: 400px;
        .paymentprice__container {
          margin-top: 2em;
          .payment__button {
            width: 100%;
            padding: 7px 15px;
            outline: none;
            border: 1px solid lightgray;
            margin-top: 1em;
            cursor: pointer;
            transition: background-color 0.5s linear;
            font-size: 1.2em;
            &:hover {
              background-color: lightpink;
              color: white;
            }
          }
        }
      }
    }
  }
}
